<div class="container">
  <div class="row space-top">
      <div class="col-md-12">
          <h1>Потребителски профил.</h1>
          <p>Тук ще откриете обявите, качени от вас.</p>
      </div>
  </div>
  <div class="row space-top">
    <div class="col-md-4" *ngFor="let car of userCar$ | async"> 
        <div class="card text-white bg-primary">
            <div class="card-body">
                <blockquote class="card-blockquote">
                    <img src="{{car.image}}" />
                    <p>{{car.make}}</p>
                    <footer> 
                        <cite title="Source Title">{{car.model}}</cite>
                    </footer> 
                    <footer> 
                      <cite title="Source Title">{{car.price}} BGN</cite>
                  </footer>
                    <div class="pull-right">
                        <a [routerLink]="['/cars/details/', car._id]" class="btn btn-info">Детайли</a> 
                        <a (click)="deleteCar(car._id)" class="btn btn-danger">Изтрий обявата</a> 
                    </div> 
                </blockquote>
            </div>
        </div>
    </div>
</div>
</div> 