<div class="container">
  <div class="row space-top">
      <div class="col-md-12">
          <h1>Детайли на автомобила</h1>
      </div>
  </div>
  <div class="row space-top">
      <div class="col-md-4">
          <div class="card text-white bg-primary">
              <div class="card-body">
                  <blockquote class="card-blockquote">
                      <img src="{{car.image}}" />
                  </blockquote>
              </div>
          </div>
      </div>
      <div class="col-md-4"> 
          <p>Марка: {{car.make}}</p>
          <p>Модел: {{car.model}}</p>
          <p>Година: {{car.year}}</p>
          <p>Описание: {{car.description}}</p>
          <p>Цена: {{car.price}} BGN</p> 
          <p>Километри: {{car.material}} km</p> 
          
      </div>
  </div>
</div> 